@charset "iso-8859-1";
body{
direction:rtl;
font-family:Arial, Helvetica, sans-serif;
}
#header{
    background:url("../IMG/pin.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#img_logo{
    margin: 0 auto;
    filter: drop-shadow(0 0 20% 20% white);
}

#adress{
    text-align:center;
    background:#31749d;
    color:#CCCCCC;
    height:60px;
    margin:0;
}
#adress1{
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bar{
    color: #31749d;
    font-size: 2em;
    display: none;
}
#burger{
     
    display: none;
}
.button{
margin-left:20px;
float:inherit;
background:#a2d5f4;
font-size:18px;
font-weight:bold;
    margin-top: 10px;
height:40px;

}


#cemold{
font-size:16px;
margin-left:400px;
margin-top:-250px;
margin-right:1px;
text-align:justify;
line-height:22px;
}


#main {
    margin: 148px;
    margin-right: -2px;
    margin-left: 136px;
    margin-top: 30px;
}
#main_medya{
    display: none;
}

.tmona{
  margin-top:107px;
    width:340px;
    height:340px;
     
} 
}
p{				
margin-right: 254px;
margin-top: -147px;
}

#rashi{
margin-right:390px;
margin-top: -300px;
font-size:20px;
}

#nisoin{
font-size:16px;
margin-left:300px;
margin-top:0px;
margin-right:1px;
text-align:justify;
line-height:22px;
}

.link{
    margin-top: 0px;
}
#contac{
font-size:16px;
margin-left:300px;
margin-top:-300px;
margin-right:20px;
text-align:justify;
line-height:26px;

}
.mikve_k{
    width: 1200px;
    margin-right: 50px;
    
}
.pm{
    font-size: 14px;
    font-weight: bold;
    margin-right: 460px;
    color: sandybrown;
    text-decoration: none;
    margin-top: -200px;
}
.reka{
 display: none;
}
#cem{
font-size:16px;
margin-left:500px;
margin-top:-200px;
margin-right:20px;
text-align:justify;
line-height:26px;
}
     .betkeneset_medya{
        display: none;
    }
     .betkeneset{
        display: block;
    }

    .kasher_medya{
        display: none;
    }
    
    .kasher{
        display: block;
    }
.masage{
    font-size: 25px;
    color: cornflowerblue;
    font-weight: bold;
    position: absolute;
    float: right;
    width: 800px;
    right: 50px;
    
}
.main_mik_medya{
    display: none;
}

@media only screen and (max-width: 1000px) and (min-width: 40px){

#header{
    text-align: center;
}
 #img_logo{
     height: 80px;
margin-right:20px;
margin-top:-10px;
}
 #adress{
     display: none; }
    
    #adress1{
        display: block;
text-align:center;
color:#CCCCCC;
line-height:12px;
height: auto;
padding-top: 5px;
}
.reka{
    background:#31749d;
height:110px;
margin-top:150px;
padding: 10px auto 10px auto;
display: block;

}
.nam{
    display: none;
    list-style-type: none;
    text-decoration: none;
    line-height: 27px;
    text-align: right;
}
.nul{
    list-style-type: none;
}
.nul a{

    text-decoration: none;
    margin: 200px auto;
}
#burger{
    display: block;
    background: white;
    border: 0px solid;
    outline: none;
    font-size: 2em;
}
.bar{
        display: block;
    }
    .button{
        border: 0px solid;
        padding: 10px;
        z-index: 1;
        display: none;
        margin-bottom: 100px;
        
    }
    
    .tmona{
  margin-top:20px;
    width:200px;
    height:200px;
     
} 

#main_medya{
    display: block;
    overflow: hidden;
    }
    #main{
        display: none;
    }
    .main_mik{
        display: none;
    }
    
    .main_mik_medya{
        display: block;
    }
    #main_medya #rashi , #main_medya #nisoin{   
margin-right:10px;
margin-top: 10px;
font-size:20px;
        
    }
    #main_medya #nisoin{
        width: 80%;
        margin: auto 0px;
        font-size: 1em;
    }
    .mikve_k{
    width: 300px;
    margin-right: 10px;
    
}
.space{
    min-height: 100px;
}
.main_mik_medya .pm{
    font-size: 15px;
    font-weight: bold;
margin-right: 10px;
    color:sandybrown;
}
    .link {
        margin-top: -100px;
    }
    .link .pm{
        color:sandybrown;
        margin-top: 300px;
    }
    .betkeneset_medya{
        display: block;
    }
     .betkeneset{
        display: none;
    }
    
    .kasher_medya{
        display: block;
    }
    .kasher_medya img{
        margin-right: -90px;
        height: 320px;
    }
    .kasher{
        display: none;
    }
    
    #kasher_p{
font-size:16px;
margin-left:50px;
margin-top:0px;
margin-right:1px;
text-align:justify;
line-height:22px;
        
        
    }
    .masage{
    font-size: 25px;
    color: cornflowerblue;
    font-weight: bold;
    position: absolute;
    float: right;
    width: 300px;
    right: 0px;
    
}
    #contac {
            width: 500px;
        margin-left:50px;
        margin-top:-300px;
        margin-right:20px;
            
        }


